{% extends "pages/base.jinja" %}

{%block title%}
    Flask demo - About
{% endblock %}

{% block content %}

    <h1>Flask</h1>

    <p> This is my first Flask web app!!!</p>

    <h1>Jinja</h1>

    <p>Jinja is a </p>
{% endblock %}